@import "@fortawesome/fontawesome-free/css/all.css";
//Custom variables
$primary: rgb(153, 35, 54);
$myprimary: #944e63;
$mysecondary: #b47b84;
$mytertiary: #caa6a6;
$myquarternary: #ffe7e7;

@import "../node_modules/bootstrap/scss/bootstrap";
header {
  img {
    width: 13rem;
    height: 13rem;
  }
}
body {
  scroll-behavior: smooth;
  height: 100dvh;
  background-color: $myquarternary;
  padding-bottom: 300px;
}

div.mask {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -50px;
  width: 100%;
}
//CLASSES
.my-jumbo {
  background-image: url("../images/slc.jpg");
  height: 15rem;
}

.carousel {
  min-width: 600px;
  //   background-color: green;
}

.carousel-item {
  img {
    max-height: 25rem;
    max-width: 800px;
  }
}
