@import "@fortawesome/fontawesome-free/css/all.css";
//Custom variables
$primary: rgb(153, 35, 54);
$myprimary: #944e63;
$mysecondary: #b47b84;
$mytertiary: #caa6a6;
$myquarternary: #ffe7e7;
$font-weight-bolder: 800;
@import "../node_modules/bootstrap/scss/bootstrap";
header {
  img {
    width: 13rem;
    height: 13rem;
  }
}
body {
  scroll-behavior: smooth;
  height: 100dvh;
  background-color: lighten($myquarternary, 10%);
  padding-bottom: 300px;
}
div:has(nav),
nav {
  background-color: $mytertiary;
}
form {
  font-weight: $font-weight-bolder;
}

div.mask {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -50px;
  width: 100%;
}
//CLASSES
.my-backgr {
  background: rgb(148, 78, 99);
  background: linear-gradient(45deg, rgba(148, 78, 99, 1) 0%, rgba(180, 123, 132, 1) 35%, rgba(202, 166, 166, 1) 71%);
  -webkit-box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.my-jumbo {
  background-image: url("../images/slc.jpg");
  height: 15rem;
}
.accordion-header {
  background-color: $mytertiary;
}
.accordion-body {
  background: rgb(148, 78, 99);
  background: linear-gradient(45deg, rgba(148, 78, 99, 1) 0%, rgba(255, 231, 231, 1) 17%, rgba(202, 166, 166, 1) 71%);
}
.carousel {
  min-width: 600px;
  //   background-color: green;
}

.carousel-item {
  img {
    max-height: 25rem;
    max-width: 800px;
  }
}
